In [1]:
import numpy as np
import pandas as pd

In [3]:
# Load the data
X = np.load("../data/data_X.npy", allow_pickle=True)
y = np.load("../data/data_y.npy", allow_pickle=True)

In [7]:
X.shape

(2020, 3)

In [6]:
y.shape

(2020,)

In [9]:
X

array([[ 84,  44, 250],
       [201,  93, 214],
       [124,  66, 220],
       ...,
       [ 76, 202, 254],
       [236, 199,  96],
       [106,  70, 153]])

In [14]:
X_df = pd.DataFrame(X, columns=["Red", "Green", "Blue"])

In [22]:
y_series = pd.Series(y, name="Label")

In [23]:
pd.concat([X_df, y_series], axis="columns")

      Red  Green  Blue  Label
0      84     44   250      2
1     201     93   214      5
2     124     66   220      6
3      22     12    93      2
4     116     14    79      0
...   ...    ...   ...    ...
2015  254     32   221      5
2016   80    162   204      2
2017   76    202   254      2
2018  236    199    96      3
2019  106     70   153      6

[2020 rows x 4 columns]